development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: props_development
  pool:     5
  username: props
  password:
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: props_test
  pool:     5
  username: props
  password:
  template: template0
