development:
  allowed_email_domains:
    - gmail.com
  app_domain: 'props.dev'
  domain_name: 'gapps-domain-name'
  email_provider_password: 'email_provider_password'
  email_provider_username: 'email_provider_username'
  omniauth_provider_key: 'omniauth-key'
  omniauth_provider_secret: 'omniauth-secret'
  slack:
    webhook_url: 'webhook_url'
    default_channel: 'default_channel'
  rollbar_access_token: 'rollbar_token'

production:
  <<: *defaults
