development:
  app_domain: 'props.dev'
  domain_name: 'gapps-domain-name' # leave blank for development in order to use ANY domain
  email_provider_password: 'email_provider_password'
  email_provider_username: 'email_provider_username'
  newrelic_license_key: 'newrelic_license_key'
  omniauth_provider_key: 'omniauth-key'
  omniauth_provider_secret: 'omniauth-secret'
  slack:
    webhook_url: 'webhook_url'
    default_channel: 'default_channel'
  rollbar_access_token: 'rollbar_token'

production:
  <<: *defaults
