.props-list {
  padding-left: 0;
}

.props-list-item {
  padding: 15px;
}

.prop-users {
  font-size: 25px;
}

.prop-content {
  @media (min-width: $screen-md-min) {
    border-left: 1px solid #aaa;
  }
}

.prop-body {
  line-height: 1.2;
  font-size: 3em;
  margin-bottom: 0;
  word-break: break-word;

  @media (max-width: $screen-md-min) {
    font-size: 2em;
  }
}

.selected-users {
  margin: 20px auto;
  text-align: center;
}
