.props-list {
  padding-left: 0;
}

.props-list-item {
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.prop-users {
  position: relative;
  img { width: 20px; }
  .glyphicon {
    width: 20px;
    line-height: 20px;
    text-align: center;
  }

  @media (min-width: $screen-sm-min) {
    img { width: 40px; }
    .glyphicon {
      width: 40px;
      line-height: 40px;
    }
  }

  @media (min-width: $screen-lg-min) {
    img { width: 80px; }
    .glyphicon {
      width: 80px;
      line-height: 80px;
    }
  }

  > * {
    float: left;
  }
}

.prop-gaver {
  margin-bottom: 10px;
}

.props-receiver-avatar {
  margin: 0 10px 10px 0;
}
.prop-content {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.prop-body {
  line-height: 1.2;
  font-size: 3em;
  margin-bottom: 0;
  word-break: break-word;

  @media (max-width: $screen-md-max) {
    font-size: 2em;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 1.4em;
  }
}

.prop-footer {
  margin-top: 20px;
}
