@import 'netguru-theme';

@import 'select2';
@import 'animate';
@import 'overrides/select2';
@import 'components/navbar';
@import 'components/props_form';
@import 'components/props_list';
@import 'components/user_card';
@import 'components/loading';
@import 'components/announcement_screen';
@import 'controllers/login';

@media (min-width: $screen-md-max) {
  .container {
    min-width: $screen-md-max;
    max-width: $screen-lg-min;
  }
}
